.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.toggle-track {
  width: 50px;
  height: 24px;
  border-radius: 30px;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0 4px;
}

.toggle-track.light {
  background-color: var(--primary-color);
  justify-content: flex-start;
}

.toggle-track.dark {
  background-color: var(--light-gray-dark);
  justify-content: flex-end;
}

.toggle-indicator {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.toggle-track.dark .toggle-indicator {
  background-color: var(--primary-color-dark);
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--primary-color);
}

.toggle-track.dark .toggle-icon {
  color: white;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .theme-toggle {
    margin: 10px 0;
  }
} 